.intro-brief {
    display: flex;
    flex-direction: column;
    grid-row: 3 / 4;
}

#about-greet {
    font-family: PP Lorge;
    font-size: 48px;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.01em;
    grid-row: 2 / 3;
    opacity:.87;
    margin: 0;
}

.photo {
    width: 272px;
    height: 532px;
    background-color: #c4c4c4;
    grid-row: 2 / 3;
    justify-self: right;
}

#quote {
    font-family: PP Lorge;
    opacity: .87;
    font-size: 20px;
    grid-row: 4 / 5;
    align-self: end;
}

#about-content {
    padding-bottom: 24px;
    white-space: pre-wrap;
}

@media screen and (max-width: 864px) {
    #about-greet {
        font-family: PP Lorge;
        font-size: 48px;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.01em;
        opacity:.87;
        padding-bottom: 72px;
    }
    #quote {
        font-family: PP Lorge;
        opacity: .87;
        font-size: 20px;
        align-self: end;
    }

    .intro-brief {
        display: flex;
        flex-direction: column;     
        padding-bottom: 32px;
    }
    .photo {
        display: none;
        width: 272px;
        height: 532px;
        background-color: #c4c4c4;
        grid-row: 2 / 3;
        justify-self: right;
    }
}