a {
    padding: 0;
    width: 200px;
    text-align: left;
    text-decoration: none;
    color: black;
    opacity: 0.87;
}

.social-icon {
    padding-right: 16px;
}

.links {
    display: flex;
    grid-row: 4 / 5;
}

.link-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 36px;
}

.link-button:hover {
    opacity: .87;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.link-button {
    display: flex;
    background: none;
    outline: 0;
    border: 0;
    padding: 0;
    padding-bottom: 24px;
    margin: 0;
    font-family: PP Okay;
    font-size: 16px;
    opacity: .6;
    line-height: 24px;
    align-items: center;
    cursor: pointer;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}



#contact-greet {
    font-family: PP Lorge;
    font-size: 48px;
    font-size: 48px;
    line-height: 58px;
    opacity: .87;
    letter-spacing: -0.01em;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0;
}

#contact-info {
    grid-row: 3 / 4;
}

.photo {
    width: 272px;
    height: 532px;
    background-color: #c4c4c4;
    grid-row: 2 / 3;
    justify-self: right;
}

.signature {
    grid-row: 5 / 6;
    align-self: end;
    font-size: 14px;
    line-height: 24px;;
    font-family: PP Smol;
    color: rgb(0,0,0);
    opacity: .38;
    padding-bottom: 5vh;
}

@media screen and (max-width: 864px) {
    #contact-greet {
        font-family: PP Lorge;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.01em;
        opacity:.87;
        padding-bottom: 72px;
    }

    .signature {
        font-size: 16px;
        line-height: 24px;;
        font-family: PP Smol;
        padding-top: 40px;
    }

    #contact-info {
        display: flex;
        flex-direction: column;     
        padding-bottom: 72px;
    }
    .links {
        display: flex;
        flex-direction: column;

    }

    .link-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 36px;
        padding-bottom: 48px;
    }

.link-button {
    display: flex;
    background: none;
    outline: 0;
    border: 0;
    padding: 0;
    padding-bottom: 24px;
    margin: 0;
    font-family: PP Okay;
    font-size: 16px;
    opacity: .87;
    line-height: 24px;
    align-items: center;
    cursor: pointer;
}
    .photo {
        display: none;
        width: 272px;
        height: 532px;
        background-color: #c4c4c4;
        grid-row: 2 / 3;
        justify-self: right;
    }
}