.hover-listener:hover > #down-arrow {
    top: 48px;
    transition: top .8s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.hover-listener:hover > #comment {
    opacity: .6;
    transition: opacity .8s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.hover-listener {
    display: flex;
    position: relative;
    grid-row: 5 / 6;
    justify-content: center;
    background: white;
}

#down-arrow {
    top: 0px;
    padding-top: 48px;
    opacity: .6;
    position: absolute;
    transition: top .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#comment {
    font-family: PP Okay;
    font-size: 12px;
    letter-spacing: .2em;
    opacity: 0;
    padding-top: 48px;
    transition: opacity .5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#intro1 {
    grid-row: 4 / 5;
}

.name {
    grid-row: 3 / 4;
}

.greet {
    grid-row: 2 / 3;
    align-self: end;
}

span {
    color: #df0b39;
}