.project-container {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: repeat(3, 272px);
    grid-column-gap: 24px;
    margin: 20vh 0 0 0;
}

.banner {
    grid-column: 1 / 4;
    padding-bottom: 24px;
}
.project-title {
    grid-column: 1 / 4;

    font-family: PP Lorge;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.01em;
    opacity:.87;
    margin: 0;
}

.project-content {
    padding-top: 72px;
    grid-column: 1 / 2;
}

.brief-head {
    font-family: PP Lorge;
    font-size: 16px;
    line-height: 24px;
    opacity: .6;
    padding-bottom: 16px;
}

#project-brief {
    height: auto;
    padding-bottom: 48px;
}

.sidebar {
    padding-top: 72px;
    grid-column: 3 / 4;
}

.sub-context {
    font-family: PP Smol;
    font-size: 16px;
    opacity: .6;
    grid-column: 1 / 4;
    text-transform: capitalize;
    width: 100%;
}

#bullet {
    font-size: 20px;
    color: black;
    padding: 0 3px 0 3px;
}

.banner-mobile {
    display: none;
}

@media screen and (max-width: 864px) and (min-width: 420px) {
    .banner {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 1px;
        z-index: 10;
        padding-bottom: 24px;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        margin-top: 164px;
        margin-bottom: 20vh;
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    .banner {
        display: none;
    }
    .banner-mobile {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 1px;
        z-index: 10;
        padding-bottom: 24px;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        margin-bottom: 20vh;
        width: auto;
    }
}