.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 272px;
}

.sub-head {
    font-family: PP Lorge;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 16px;
}

.sub-content {
    font-family: PP Smol;
    padding-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
    width: 272px;
    white-space: pre-wrap;
}