body {
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    background-size: cover;
  }
  
@font-face {
  font-family: 'pp mammoth';
  src: url('./assets/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
      url('./assets/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
}

@font-face {
  font-family: 'pp micro';
  src: url('./assets/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
      url('./assets/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
}

.image {
  position: absolute;
  top:0;
  z-index: -1;
  filter: blur(20px);
}

.head {
  font-family: pp micro;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  color: #000;
  max-width: 600px;
  text-align: left;

}

span {
  font-family: pp mammoth;
}

p {
  margin: 0;
  color: #000;
  font-family: pp micro;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  vertical-align: text-bottom;
}


.head2 {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  line-height: 40px;
  font-family: pp mammoth;
  color: white;
  text-align: left;
  padding-left: 12.5%;

}

.scroll-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute!important;
  background-color: black;
  width: auto;
  padding: 0 44px 0 32px ;
  height: 72px;
  bottom: 0;
  z-index: 10;
}

.scroll-text {
  color: white;
}

.head3 {
  text-align: left;
  font-family: pp micro;
  color: white;
  font-size: 40px;
  line-height: 48px;
}

.sub-head {
  color: #fff;
  opacity: 0.6;
}

a {
  color: #000;
  pointer-events: all;
}

button {
  width: 160px;
  height: 54px;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  border-radius: 1px;
  color: #444;
  font-family: pp micro;
  font-size: 18px;
}

.scroll-button {
  color: #fff;
  background-color: #444;
}

.fade {
  color: #000;
}



@media only screen and (max-width: 600px) {
  .head {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    color: #000;
    height: auto;
    width: 100%;
    text-align: left;
  }
  p {
    text-align: left;
  font-size: 16px;
  line-height: 24px;
  }
  button {
    width: 100%;
    font-size: 16px;
  }
  .head2 {
    padding-left: 20px;
    font-size: 24px;
    line-height: 24px;
  }
  .scroll-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute!important;
    background-color: black;
    width: 100vw;
    height: 60px;
    bottom: 0;
    z-index: 10;
  }
}