.card-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-row: 2 / 3;
}

.parent-box {
    position: relative;
    display: grid;
    width: 864px;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

h1 {
    font-size: 96px;
    font-family: PP Lorge;
    line-height: 100px;
    margin: 0px;
    letter-spacing: -0.01em;
}

p {
    font-size: 20px;
    font-family: PP Smol;
    line-height: 30px;
    width: 470px;
    margin: 0px;
}

.base {
    display: flex;
    justify-content: center;
    height: 100vh;
}
