ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.hidden {
    visibility: hidden;
    font-family: PP Smol;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    opacity: 60%;
    background: none;
    height: 24px;
    padding: 0px;
    border: none;
    width: 24px;
    cursor: pointer;
}

#work {
    padding: 0;
    width: auto;
}

#contact {
    width: auto;
}

#about {
    width: auto;
}

.nav-button-active {
    text-decoration: none;
    font-family: PP Okay;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    opacity: 87%;
    background: none;
    height: 24px;
    padding: 0px;
    border: none;
    outline: 0;
    width: 24px;
    cursor: pointer;
}

.rotate-button:hover {
    opacity: 87%;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.rotate-button:hover {
    opacity: 60%;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.rotate-button {
    transform: rotate(-90deg);
    text-decoration: none;
    font-family: PP Okay;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    opacity: 38%;
    background: none;
    height: 24px;
    padding: 0px;
    border: none;
    width: 24px;
    cursor: pointer;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.nav-button {
    text-decoration: none;
    font-family: PP Okay;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    opacity: 38%;
    background: none;
    height: 24px;
    padding: 0px;
    border: none;
    width: 24px;
    cursor: pointer;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.nav-button:hover {
    opacity: 60%;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.nav-button:focus {
    outline:0;
}

.nav-button-group {
    display: flex;
    width: 272px;
    justify-content: space-between;
}

.parent {
    display: flex;
    width: 864px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.nav-base {
    position: fixed;
    display: flex;
    background: white;
    width: 100vw;
    justify-content: center;
    height: 140px;
    align-items: center;
    z-index: 25;
}